{% extends 'step_base.html' %}

{% block step_content %}
    <h1>Booking Made!</h1>

   {{ booking.step1 }}<br><br>
   {{ booking.step2 }}<br><br>
   {{ booking.step3 }}<br><br>
   {{ booking.step4 }}<br><br>
   {{ booking.step5 }}<br><br>
   {{ booking.step6 }}<br><br>
   {{ booking.step7 }}<br><br>
   {{ booking.step8 }}

   <br><br>
   <a href="{% url home %}" class="btn btn-primary">Return Home</a>
   <a href="{% url cancel booking.key %}" class="btn btn-danger">Cancel this booking</a>

{% endblock %}
